	*{No documentation available}*
	<span itemprop="employmentType">${_arg.employmentType}</span>

	*{No documentation available}*
	<span itemprop="title">${_arg.title}</span>

	*{No documentation available}*
	<span itemprop="specialCommitments">${_arg.specialCommitments}</span>

	*{No documentation available}*
	<div itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.hiringOrganization /}
	</div>

	*{No documentation available}*
	<span itemprop="occupationalCategory">${_arg.occupationalCategory}</span>

	*{No documentation available}*
	<span itemprop="experienceRequirements">${_arg.experienceRequirements}</span>

	*{No documentation available}*
	<span itemprop="qualifications">${_arg.qualifications}</span>

	*{No documentation available}*
	<span itemprop="educationRequirements">${_arg.educationRequirements}</span>

	*{No documentation available}*
	<span itemprop="baseSalary">${_arg.baseSalary}</span>

	*{No documentation available}*
	<span itemprop="workHours">${_arg.workHours}</span>

	*{No documentation available}*
	<span itemprop="benefits">${_arg.benefits}</span>

	*{No documentation available}*
	<span itemprop="skills">${_arg.skills}</span>

	*{No documentation available}*
	<span itemprop="industry">${_arg.industry}</span>

	*{No documentation available}*
	<span itemprop="responsibilities">${_arg.responsibilities}</span>

	*{No documentation available}*
	<time itemprop="datePosted" datetime="${_arg.datePosted.format('yyyy-MM-dd')}">${_arg.datePosted.format('yyyy-MM-dd')}</time>

	*{No documentation available}*
	<span itemprop="incentives">${_arg.incentives}</span>

	*{No documentation available}*
	<span itemprop="salaryCurrency">${_arg.salaryCurrency}</span>

	*{No documentation available}*
	<div itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
		#{Place _arg.jobLocation /}
	</div>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

