*{The condition of the item for sale&mdash;for example New, Refurbished, Used, etc.}*
<div itemprop="itemCondition" itemscope itemtype="http://schema.org/OfferItemCondition">
	#{OfferItemCondition _arg.itemCondition /}
</div>

*{The seller of the product.}*
<div itemprop="seller" itemscope itemtype="http://schema.org/Organization">
	#{Organization _arg.seller /}
</div>

*{The date after which the price is no longer available.}*
<time itemprop="priceValidUntil" datetime="${_arg.priceValidUntil.format('yyyy-MM-dd')}">${_arg.priceValidUntil.format('yyyy-MM-dd')}</time>

*{The item being sold.}*
<div itemprop="itemOffered" itemscope itemtype="http://schema.org/Product">
	#{Product _arg.itemOffered /}
</div>

*{Review of the item.}*
<div itemprop="review" itemscope itemtype="http://schema.org/Review">
	#{Review _arg.review /}
</div>

*{The overall rating, based on a collection of reviews or ratings, of the item.}*
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
	#{AggregateRating _arg.aggregateRating /}
</div>

*{The offer price of the product.}*
<span itemprop="price">${_arg.price}</span>

*{The offer price of the product.}*
<span itemprop="price">${_arg.price}</span>

*{The currency (in 3-letter <a href="http://en.wikipedia.org/wiki/ISO_4217">ISO 4217 format</a>) of the offer price.}*
<span itemprop="priceCurrency">${_arg.priceCurrency}</span>

*{Review of the item. (legacy spelling; see singular form, review).}*
#{list items:_arg.reviews, as:'review'}
<div itemprop="review" itemscope itemtype="http://schema.org/Review">
	#{Review review /}
</div>
#{/list}

*{The availability of this item&mdash;for example In stock, Out of stock, Pre-order, etc.}*
<div itemprop="availability" itemscope itemtype="http://schema.org/ItemAvailability">
	#{ItemAvailability _arg.availability /}
</div>

*{No documentation available :-(}*
<span itemprop="additionalType">${_arg.additionalType}</span>

*{A short description of the item.}*
<span itemprop="description">${_arg.description}</span>

*{URL of the item.}*
<span itemprop="url">${_arg.url}</span>

*{URL of an image of the item.}*
<span itemprop="image">${_arg.image}</span>

*{The name of the item.}*
<span itemprop="name">${_arg.name}</span>

