	*{The fax number.}*
	<span itemprop="faxNumber">${_arg.faxNumber}</span>

	*{Email address.}*
	<span itemprop="email">${_arg.email}</span>

	*{The telephone number.}*
	<span itemprop="telephone">${_arg.telephone}</span>

	*{A person or organization can have different contact points, for different purposes. For example, a sales contact point, a PR contact point and so on. This property is used to specify the kind of contact point.}*
	<span itemprop="contactType">${_arg.contactType}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

