	*{No documentation available}*
	<span itemprop="circle">${_arg.circle}</span>

	*{No documentation available}*
	<span itemprop="polygon">${_arg.polygon}</span>

	*{The elevation of a location.}*
	<span itemprop="elevation">${_arg.elevation}</span>

	*{The elevation of a location.}*
	<span itemprop="elevation">${_arg.elevation}</span>

	*{No documentation available}*
	<span itemprop="box">${_arg.box}</span>

	*{No documentation available}*
	<span itemprop="line">${_arg.line}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

