	*{The lowest value allowed in this rating system. If worstRating is omitted, 1 is assumed.}*
	<span itemprop="worstRating">${_arg.worstRating}</span>

	*{The lowest value allowed in this rating system. If worstRating is omitted, 1 is assumed.}*
	<span itemprop="worstRating">${_arg.worstRating}</span>

	*{The rating for the content.}*
	<span itemprop="ratingValue">${_arg.ratingValue}</span>

	*{The highest value allowed in this rating system. If bestRating is omitted, 5 is assumed.}*
	<span itemprop="bestRating">${_arg.bestRating}</span>

	*{The highest value allowed in this rating system. If bestRating is omitted, 5 is assumed.}*
	<span itemprop="bestRating">${_arg.bestRating}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

