	*{No documentation available}*
	<div itemprop="availableStrength" itemscope itemtype="http://schema.org/DrugStrength">
		#{DrugStrength _arg.availableStrength /}
	</div>

	*{No documentation available}*
	<span itemprop="isProprietary">${_arg.isProprietary}</span>

	*{No documentation available}*
	<span itemprop="nonProprietaryName">${_arg.nonProprietaryName}</span>

	*{No documentation available}*
	<div itemprop="drugClass" itemscope itemtype="http://schema.org/DrugClass">
		#{DrugClass _arg.drugClass /}
	</div>

	*{No documentation available}*
	<span itemprop="pregnancyWarning">${_arg.pregnancyWarning}</span>

	*{No documentation available}*
	<span itemprop="isAvailableGenerically">${_arg.isAvailableGenerically}</span>

	*{The manufacturer of the product.}*
	<div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.manufacturer /}
	</div>

	*{No documentation available}*
	<span itemprop="prescribingInfo">${_arg.prescribingInfo}</span>

	*{No documentation available}*
	<span itemprop="overdosage">${_arg.overdosage}</span>

	*{No documentation available}*
	<span itemprop="breastfeedingWarning">${_arg.breastfeedingWarning}</span>

	*{No documentation available}*
	<span itemprop="dosageForm">${_arg.dosageForm}</span>

	*{No documentation available}*
	<span itemprop="warning">${_arg.warning}</span>

	*{No documentation available}*
	<div itemprop="cost" itemscope itemtype="http://schema.org/DrugCost">
		#{DrugCost _arg.cost /}
	</div>

	*{No documentation available}*
	<div itemprop="prescriptionStatus" itemscope itemtype="http://schema.org/DrugPrescriptionStatus">
		#{DrugPrescriptionStatus _arg.prescriptionStatus /}
	</div>

	*{No documentation available}*
	<div itemprop="pregnancyCategory" itemscope itemtype="http://schema.org/DrugPregnancyCategory">
		#{DrugPregnancyCategory _arg.pregnancyCategory /}
	</div>

	*{No documentation available}*
	<span itemprop="clincalPharmacology">${_arg.clincalPharmacology}</span>

	*{No documentation available}*
	<div itemprop="interactingDrug" itemscope itemtype="http://schema.org/Drug">
		#{Drug _arg.interactingDrug /}
	</div>

	*{No documentation available}*
	<span itemprop="foodWarning">${_arg.foodWarning}</span>

	*{No documentation available}*
	<span itemprop="activeIngredient">${_arg.activeIngredient}</span>

	*{No documentation available}*
	<div itemprop="doseSchedule" itemscope itemtype="http://schema.org/DoseSchedule">
		#{DoseSchedule _arg.doseSchedule /}
	</div>

	*{No documentation available}*
	<span itemprop="labelDetails">${_arg.labelDetails}</span>

	*{No documentation available}*
	<span itemprop="alcoholWarning">${_arg.alcoholWarning}</span>

	*{No documentation available}*
	<span itemprop="administrationRoute">${_arg.administrationRoute}</span>

	*{No documentation available}*
	<div itemprop="relatedDrug" itemscope itemtype="http://schema.org/Drug">
		#{Drug _arg.relatedDrug /}
	</div>

	*{No documentation available}*
	<div itemprop="legalStatus" itemscope itemtype="http://schema.org/DrugLegalStatus">
		#{DrugLegalStatus _arg.legalStatus /}
	</div>

	*{No documentation available}*
	<span itemprop="mechanismOfAction">${_arg.mechanismOfAction}</span>

	*{No documentation available}*
	<div itemprop="indication" itemscope itemtype="http://schema.org/MedicalIndication">
		#{MedicalIndication _arg.indication /}
	</div>

	*{No documentation available}*
	<div itemprop="seriousAdverseOutcome" itemscope itemtype="http://schema.org/MedicalEntity">
		#{MedicalEntity _arg.seriousAdverseOutcome /}
	</div>

	*{No documentation available}*
	<div itemprop="contraindication" itemscope itemtype="http://schema.org/MedicalContraindication">
		#{MedicalContraindication _arg.contraindication /}
	</div>

	*{No documentation available}*
	<div itemprop="adverseOutcome" itemscope itemtype="http://schema.org/MedicalEntity">
		#{MedicalEntity _arg.adverseOutcome /}
	</div>

	*{No documentation available}*
	<div itemprop="duplicateTherapy" itemscope itemtype="http://schema.org/MedicalTherapy">
		#{MedicalTherapy _arg.duplicateTherapy /}
	</div>

	*{No documentation available}*
	<div itemprop="relevantSpecialty" itemscope itemtype="http://schema.org/MedicalSpecialty">
		#{MedicalSpecialty _arg.relevantSpecialty /}
	</div>

	*{No documentation available}*
	<div itemprop="study" itemscope itemtype="http://schema.org/MedicalStudy">
		#{MedicalStudy _arg.study /}
	</div>

	*{No documentation available}*
	<div itemprop="medicineSystem" itemscope itemtype="http://schema.org/MedicineSystem">
		#{MedicineSystem _arg.medicineSystem /}
	</div>

	*{No documentation available}*
	<div itemprop="recognizingAuthority" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.recognizingAuthority /}
	</div>

	*{No documentation available}*
	<div itemprop="code" itemscope itemtype="http://schema.org/MedicalCode">
		#{MedicalCode _arg.code /}
	</div>

	*{No documentation available}*
	<div itemprop="guideline" itemscope itemtype="http://schema.org/MedicalGuideline">
		#{MedicalGuideline _arg.guideline /}
	</div>

	*{No documentation available}*
	<span itemprop="alternateName">${_arg.alternateName}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

