	*{No documentation available}*
	<span itemprop="restPeriods">${_arg.restPeriods}</span>

	*{No documentation available}*
	<span itemprop="activityFrequency">${_arg.activityFrequency}</span>

	*{No documentation available}*
	<span itemprop="intensity">${_arg.intensity}</span>

	*{No documentation available}*
	<span itemprop="repetitions">${_arg.repetitions}</span>

	*{No documentation available}*
	<span itemprop="additionalVariable">${_arg.additionalVariable}</span>

	*{No documentation available}*
	<div itemprop="workload" itemscope itemtype="http://schema.org/Energy">
		#{Energy _arg.workload /}
	</div>

	*{No documentation available}*
	<span itemprop="exerciseType">${_arg.exerciseType}</span>

	*{No documentation available}*
	<time itemprop="activityDuration" datetime="${_arg.activityDuration}">${_arg.activityDuration}</time>

	*{No documentation available}*
	<span itemprop="pathophysiology">${_arg.pathophysiology}</span>

	*{No documentation available}*
	<div itemprop="associatedAnatomy" itemscope itemtype="http://schema.org/AnatomicalSystem">
		#{AnatomicalSystem _arg.associatedAnatomy /}
	</div>

	*{No documentation available}*
	<div itemprop="associatedAnatomy" itemscope itemtype="http://schema.org/SuperficialAnatomy">
		#{SuperficialAnatomy _arg.associatedAnatomy /}
	</div>

	*{No documentation available}*
	<div itemprop="associatedAnatomy" itemscope itemtype="http://schema.org/AnatomicalStructure">
		#{AnatomicalStructure _arg.associatedAnatomy /}
	</div>

	*{No documentation available}*
	<span itemprop="epidemiology">${_arg.epidemiology}</span>

	*{No documentation available}*
	<div itemprop="category" itemscope itemtype="http://schema.org/PhysicalActivityCategory">
		#{PhysicalActivityCategory _arg.category /}
	</div>

	*{No documentation available}*
	<div itemprop="indication" itemscope itemtype="http://schema.org/MedicalIndication">
		#{MedicalIndication _arg.indication /}
	</div>

	*{No documentation available}*
	<div itemprop="seriousAdverseOutcome" itemscope itemtype="http://schema.org/MedicalEntity">
		#{MedicalEntity _arg.seriousAdverseOutcome /}
	</div>

	*{No documentation available}*
	<div itemprop="contraindication" itemscope itemtype="http://schema.org/MedicalContraindication">
		#{MedicalContraindication _arg.contraindication /}
	</div>

	*{No documentation available}*
	<div itemprop="adverseOutcome" itemscope itemtype="http://schema.org/MedicalEntity">
		#{MedicalEntity _arg.adverseOutcome /}
	</div>

	*{No documentation available}*
	<div itemprop="duplicateTherapy" itemscope itemtype="http://schema.org/MedicalTherapy">
		#{MedicalTherapy _arg.duplicateTherapy /}
	</div>

	*{No documentation available}*
	<div itemprop="relevantSpecialty" itemscope itemtype="http://schema.org/MedicalSpecialty">
		#{MedicalSpecialty _arg.relevantSpecialty /}
	</div>

	*{No documentation available}*
	<div itemprop="study" itemscope itemtype="http://schema.org/MedicalStudy">
		#{MedicalStudy _arg.study /}
	</div>

	*{No documentation available}*
	<div itemprop="medicineSystem" itemscope itemtype="http://schema.org/MedicineSystem">
		#{MedicineSystem _arg.medicineSystem /}
	</div>

	*{No documentation available}*
	<div itemprop="recognizingAuthority" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.recognizingAuthority /}
	</div>

	*{No documentation available}*
	<div itemprop="code" itemscope itemtype="http://schema.org/MedicalCode">
		#{MedicalCode _arg.code /}
	</div>

	*{No documentation available}*
	<div itemprop="guideline" itemscope itemtype="http://schema.org/MedicalGuideline">
		#{MedicalGuideline _arg.guideline /}
	</div>

	*{No documentation available}*
	<span itemprop="alternateName">${_arg.alternateName}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

	*{A count of a specific user interactions with this item&mdash;for example, <code>20 UserLikes</code>, <code>5 UserComments</code>, or <code>300 UserDownloads</code>. The user interaction type should be one of the sub types of <a href=UserInteraction>UserInteraction</a>.}*
	<span itemprop="interactionCount">${_arg.interactionCount}</span>

	*{The location of the content.}*
	<div itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
		#{Place _arg.contentLocation /}
	</div>

	*{No documentation available}*
	<time itemprop="dateModified" datetime="${_arg.dateModified.format('yyyy-MM-dd')}">${_arg.dateModified.format('yyyy-MM-dd')}</time>

	*{No documentation available}*
	<div itemprop="sourceOrganization" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.sourceOrganization /}
	</div>

	*{The author of this content. Please note that author is special in that HTML 5 provides a special mechanism for indicating authorship via the rel tag. That is equivalent to this and may be used interchangabely.}*
	<div itemprop="author" itemscope itemtype="http://schema.org/Person">
		#{Person _arg.author /}
	</div>

	*{The author of this content. Please note that author is special in that HTML 5 provides a special mechanism for indicating authorship via the rel tag. That is equivalent to this and may be used interchangabely.}*
	<div itemprop="author" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.author /}
	</div>

	*{The publisher of the creative work.}*
	<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.publisher /}
	</div>

	*{Awards won by this person or for this creative work.}*
	<span itemprop="award">${_arg.award}</span>

	*{The subject matter of the content.}*
	<div itemprop="about" itemscope itemtype="http://schema.org/Thing">
		#{Thing _arg.about /}
	</div>

	*{Editor for this content.}*
	<div itemprop="editor" itemscope itemtype="http://schema.org/Person">
		#{Person _arg.editor /}
	</div>

	*{No documentation available}*
	<span itemprop="publishingPrinciples">${_arg.publishingPrinciples}</span>

	*{No documentation available}*
	<div itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person">
		#{Person _arg.copyrightHolder /}
	</div>

	*{No documentation available}*
	<div itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.copyrightHolder /}
	</div>

	*{No documentation available}*
	<span itemprop="version">${_arg.version}</span>

	*{An embeded video object or URL associated with the content.}*
	<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
		#{VideoObject _arg.video /}
	</div>

	*{Indicates whether this content is family friendly.}*
	<span itemprop="isFamilyFriendly">${_arg.isFamilyFriendly}</span>

	*{The language of the content. please use one of the language codes from the <a href=http://tools.ietf.org/html/bcp47>IETF BCP 47 standard.</a>}*
	<span itemprop="inLanguage">${_arg.inLanguage}</span>

	*{No documentation available}*
	<span itemprop="thumbnailUrl">${_arg.thumbnailUrl}</span>

	*{No documentation available}*
	<span itemprop="text">${_arg.text}</span>

	*{The keywords/tags used to describe this content.}*
	<span itemprop="keywords">${_arg.keywords}</span>

	*{No documentation available}*
	<time itemprop="dateCreated" datetime="${_arg.dateCreated.format('yyyy-MM-dd')}">${_arg.dateCreated.format('yyyy-MM-dd')}</time>

	*{No documentation available}*
	<div itemprop="creator" itemscope itemtype="http://schema.org/Person">
		#{Person _arg.creator /}
	</div>

	*{No documentation available}*
	<div itemprop="creator" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.creator /}
	</div>

	*{The media objects that encode this creative work}*
	<div itemprop="encoding" itemscope itemtype="http://schema.org/MediaObject">
		#{MediaObject _arg.encoding /}
	</div>

	*{No documentation available}*
	<span itemprop="copyrightYear">${_arg.copyrightYear}</span>

	*{No documentation available}*
	<div itemprop="contributor" itemscope itemtype="http://schema.org/Person">
		#{Person _arg.contributor /}
	</div>

	*{No documentation available}*
	<div itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.contributor /}
	</div>

	*{No documentation available}*
	<div itemprop="audience" itemscope itemtype="http://schema.org/Audience">
		#{Audience _arg.audience /}
	</div>

	*{No documentation available}*
	<div itemprop="provider" itemscope itemtype="http://schema.org/Person">
		#{Person _arg.provider /}
	</div>

	*{No documentation available}*
	<div itemprop="provider" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.provider /}
	</div>

	*{An embeded audio object or URL associated with the content.}*
	<div itemprop="audio" itemscope itemtype="http://schema.org/AudioObject">
		#{AudioObject _arg.audio /}
	</div>

	*{Official rating of a piece of content&mdash;for example,'MPAA PG-13'.}*
	<span itemprop="contentRating">${_arg.contentRating}</span>

	*{The overall rating, based on a collection of reviews or ratings, of the item.}*
	<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		#{AggregateRating _arg.aggregateRating /}
	</div>

	*{No documentation available}*
	<span itemprop="alternativeHeadline">${_arg.alternativeHeadline}</span>

	*{No documentation available}*
	<div itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
		#{UserComments _arg.comment /}
	</div>

	*{Genre of the creative work}*
	<span itemprop="genre">${_arg.genre}</span>

	*{Headline of the article}*
	<span itemprop="headline">${_arg.headline}</span>

	*{Awards won by this person or for this creative work. (legacy spelling; see singular form, award).}*
	#{list items:_arg.awards, as:'award'}
	<span itemprop="award">${award}</span>
	#{/list}

	*{No documentation available}*
	<div itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person">
		#{Person _arg.accountablePerson /}
	</div>

	*{Review of the item. (legacy spelling; see singular form, review).}*
	#{list items:_arg.reviews, as:'review'}
	<div itemprop="review" itemscope itemtype="http://schema.org/Review">
		#{Review review /}
	</div>
	#{/list}

	*{No documentation available}*
	<div itemprop="mentions" itemscope itemtype="http://schema.org/Thing">
		#{Thing _arg.mentions /}
	</div>

	*{An offer to sell this item&mdash;for example, an offer to sell a product, the DVD of a movie, or tickets to an event.}*
	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		#{Offer _arg.offers /}
	</div>

	*{Date of first broadcast/publication.}*
	<time itemprop="datePublished" datetime="${_arg.datePublished.format('yyyy-MM-dd')}">${_arg.datePublished.format('yyyy-MM-dd')}</time>

	*{The media objects that encode this creative work (legacy spelling; see singular form, encoding).}*
	#{list items:_arg.encodings, as:'encoding'}
	<div itemprop="encoding" itemscope itemtype="http://schema.org/MediaObject">
		#{MediaObject encoding /}
	</div>
	#{/list}

	*{Review of the item.}*
	<div itemprop="review" itemscope itemtype="http://schema.org/Review">
		#{Review _arg.review /}
	</div>

	*{No documentation available}*
	<div itemprop="associatedMedia" itemscope itemtype="http://schema.org/MediaObject">
		#{MediaObject _arg.associatedMedia /}
	</div>

	*{No documentation available}*
	<span itemprop="discussionUrl">${_arg.discussionUrl}</span>

