	*{Review of the item. (legacy spelling; see singular form, review).}*
	#{list items:_arg.reviews, as:'review'}
	<div itemprop="review" itemscope itemtype="http://schema.org/Review">
		#{Review review /}
	</div>
	#{/list}

	*{The overall rating, based on a collection of reviews or ratings, of the item.}*
	<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		#{AggregateRating _arg.aggregateRating /}
	</div>

	*{The brand of the product.}*
	<div itemprop="brand" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.brand /}
	</div>

	*{The manufacturer of the product.}*
	<div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.manufacturer /}
	</div>

	*{An offer to sell this item&mdash;for example, an offer to sell a product, the DVD of a movie, or tickets to an event.}*
	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		#{Offer _arg.offers /}
	</div>

	*{The product identifier, such as ISBN. For example: <code>&lt;meta itemprop='productID' content='isbn:123-456-789'/&gt;</code>.}*
	<span itemprop="productID">${_arg.productID}</span>

	*{The model of the product.}*
	<span itemprop="model">${_arg.model}</span>

	*{Review of the item.}*
	<div itemprop="review" itemscope itemtype="http://schema.org/Review">
		#{Review _arg.review /}
	</div>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

