<div class='DiagnosticProcedure'>
	*{No documentation available}*
	<div itemprop="procedureType" itemscope itemtype="http://schema.org/MedicalProcedureType">
		#{MedicalProcedureType _arg.procedureType /}
	</div>

	*{No documentation available}*
	<span itemprop="followup">${_arg.followup}</span>

	*{No documentation available}*
	<span itemprop="preparation">${_arg.preparation}</span>

	*{No documentation available}*
	<span itemprop="howPerformed">${_arg.howPerformed}</span>

	*{No documentation available}*
	<div itemprop="code" itemscope itemtype="http://schema.org/MedicalCode">
		#{MedicalCode _arg.code /}
	</div>

	*{No documentation available}*
	<div itemprop="relevantSpecialty" itemscope itemtype="http://schema.org/MedicalSpecialty">
		#{MedicalSpecialty _arg.relevantSpecialty /}
	</div>

	*{No documentation available}*
	<div itemprop="recognizingAuthority" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.recognizingAuthority /}
	</div>

	*{No documentation available}*
	<div itemprop="study" itemscope itemtype="http://schema.org/MedicalStudy">
		#{MedicalStudy _arg.study /}
	</div>

	*{No documentation available}*
	<div itemprop="medicineSystem" itemscope itemtype="http://schema.org/MedicineSystem">
		#{MedicineSystem _arg.medicineSystem /}
	</div>

	*{No documentation available}*
	<div itemprop="guideline" itemscope itemtype="http://schema.org/MedicalGuideline">
		#{MedicalGuideline _arg.guideline /}
	</div>

	*{No documentation available}*
	<span itemprop="alternateName">${_arg.alternateName}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

	*{No documentation available}*
	<span itemprop="normalRange">${_arg.normalRange}</span>

	*{No documentation available}*
	<div itemprop="affectedBy" itemscope itemtype="http://schema.org/Drug">
		#{Drug _arg.affectedBy /}
	</div>

	*{No documentation available}*
	<div itemprop="usedToDiagnose" itemscope itemtype="http://schema.org/MedicalCondition">
		#{MedicalCondition _arg.usedToDiagnose /}
	</div>

	*{No documentation available}*
	<div itemprop="usesDevice" itemscope itemtype="http://schema.org/MedicalDevice">
		#{MedicalDevice _arg.usesDevice /}
	</div>

	*{No documentation available}*
	<div itemprop="signDetected" itemscope itemtype="http://schema.org/MedicalSign">
		#{MedicalSign _arg.signDetected /}
	</div>

</div>
