<div class='GeoCoordinates'>
	*{The latitude of a location. For example <code>37.42242</code>.}*
	<span itemprop="latitude">${_arg.latitude}</span>

	*{The latitude of a location. For example <code>37.42242</code>.}*
	<span itemprop="latitude">${_arg.latitude}</span>

	*{The longitude of a location. For example <code>-122.08585</code>.}*
	<span itemprop="longitude">${_arg.longitude}</span>

	*{The longitude of a location. For example <code>-122.08585</code>.}*
	<span itemprop="longitude">${_arg.longitude}</span>

	*{The elevation of a location.}*
	<span itemprop="elevation">${_arg.elevation}</span>

	*{The elevation of a location.}*
	<span itemprop="elevation">${_arg.elevation}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

</div>
