<div class='MedicalTherapy'>
	*{No documentation available}*
	<div itemprop="duplicateTherapy" itemscope itemtype="http://schema.org/MedicalTherapy">
		#{MedicalTherapy _arg.duplicateTherapy /}
	</div>

	*{No documentation available}*
	<div itemprop="seriousAdverseOutcome" itemscope itemtype="http://schema.org/MedicalEntity">
		#{MedicalEntity _arg.seriousAdverseOutcome /}
	</div>

	*{No documentation available}*
	<div itemprop="indication" itemscope itemtype="http://schema.org/MedicalIndication">
		#{MedicalIndication _arg.indication /}
	</div>

	*{No documentation available}*
	<div itemprop="contraindication" itemscope itemtype="http://schema.org/MedicalContraindication">
		#{MedicalContraindication _arg.contraindication /}
	</div>

	*{No documentation available}*
	<div itemprop="adverseOutcome" itemscope itemtype="http://schema.org/MedicalEntity">
		#{MedicalEntity _arg.adverseOutcome /}
	</div>

	*{No documentation available}*
	<div itemprop="code" itemscope itemtype="http://schema.org/MedicalCode">
		#{MedicalCode _arg.code /}
	</div>

	*{No documentation available}*
	<div itemprop="relevantSpecialty" itemscope itemtype="http://schema.org/MedicalSpecialty">
		#{MedicalSpecialty _arg.relevantSpecialty /}
	</div>

	*{No documentation available}*
	<div itemprop="recognizingAuthority" itemscope itemtype="http://schema.org/Organization">
		#{Organization _arg.recognizingAuthority /}
	</div>

	*{No documentation available}*
	<div itemprop="study" itemscope itemtype="http://schema.org/MedicalStudy">
		#{MedicalStudy _arg.study /}
	</div>

	*{No documentation available}*
	<div itemprop="medicineSystem" itemscope itemtype="http://schema.org/MedicineSystem">
		#{MedicineSystem _arg.medicineSystem /}
	</div>

	*{No documentation available}*
	<div itemprop="guideline" itemscope itemtype="http://schema.org/MedicalGuideline">
		#{MedicalGuideline _arg.guideline /}
	</div>

	*{No documentation available}*
	<span itemprop="alternateName">${_arg.alternateName}</span>

	*{No documentation available}*
	<span itemprop="additionalType">${_arg.additionalType}</span>

	*{A short description of the item.}*
	<span itemprop="description">${_arg.description}</span>

	*{URL of the item.}*
	<span itemprop="url">${_arg.url}</span>

	*{URL of an image of the item.}*
	<span itemprop="image">${_arg.image}</span>

	*{The name of the item.}*
	<span itemprop="name">${_arg.name}</span>

</div>
