*{The street address. For example, 1600 Amphitheatre Pkwy.}*
<span itemprop="streetAddress">${_arg.streetAddress}</span>

*{The postal code. For example, 94043.}*
<span itemprop="postalCode">${_arg.postalCode}</span>

*{The region. For example, CA.}*
<span itemprop="addressRegion">${_arg.addressRegion}</span>

*{The country. For example, USA. You can also provide the two-letter <a href="http://en.wikipedia.org/wiki/ISO_3166-1" target="new">ISO 3166-1 alpha-2 country code</a>.}*
<div itemprop="addressCountry" itemscope itemtype="http://schema.org/Country">
	${_arg.addressCountry}
</div>